name: Create draft release

on:
  pull_request:
    branches:
      - master
    types:
      - closed

jobs:
  postprocess:
    name: Post-process after pull request was closed
    if: ${{ contains(github.event.pull_request.labels.*.name, 'auto-generate') }}
    runs-on: ubuntu-latest
    steps:
      - name: Create draft release
        if: ${{ github.event.pull_request.merged }}
        uses: actions/create-release@v1
        with:
          tag_name: v${{ github.event.pull_request.title }}
          release_name: Release v${{ github.event.pull_request.title }}
          body: |
            ${{ github.event.pull_request.body }}
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Delete working branch
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const ownerAndRepoName = context.payload.repository.full_name.split('/');
            const owner = ownerAndRepoName[0];
            const repo = ownerAndRepoName[1];
            const ref = `heads/${context.payload.pull_request.head.ref}`;
            github.git.deleteRef({
              owner,
              repo,
              ref,
            });
